.square{
    display: auto;
    width: 100px;
    height: 100px;
    background-color: rgb(66, 166, 243);
  }
  .circle {
    display: auto;
    width: 100px;
    height: 100px;
    background-color: rgb(60, 238, 176);
    border-radius: 50%;
  }
  .container-restaurant{
    margin: 0 auto;  
    height: 700px;
    width: 700px;
    position: relative;
    border: 3px solid;
    background-color: #FFCC5A;

  }
  .centerTable {
     margin: 0px auto; 
  }
  